* {
    font-family: "Helvetica", Arial, sans-serif;
}
h2 {margin: 0}
body {
    //width:600px;
    background: rgba(245,246,227,.38);
}
.current {background: rgba(236,247,254,.61) !important; }
textarea, input, select, .panel {color: darkslateblue!important; font-size: 1.2em!important; background:rgba(235,245,255,.818181)!important; border:none!important;border-radius:.13em!important}

a {font-family: "Lato", "Helvetica Neue", Arial, sans-serif; color: sienna; text-shadow: 0 0 1px rgba(255,255,255,.4); box-shadow:0px 2px 0px #555; padding:.05em;}
.side {background:rgba(249,245,231,.62); width:100%; float:left; position: fixed; top:0; left:0; max-height: 100%; overflow-y: scroll;}
.side a {color: crimson; text-shadow: 0px 0px 1px rgba(255,255,255,.4); box-shadow:0 4px 0 #555; padding:.1em;}

.posts hr, br {width:92%; margin:4%}
/*input {padding:1em; color: mediumslateblue; width:100%; background:rgba(255,255,255,.38);  border:none; border-radius: 1em}
input[type=text] {font-size: 1.2em; padding:1em; max-width:90%; }
input[type=number] {width:38%; margin: 4%; font-size: 1.6em; max-width:90%; padding:.1em 0; }
textarea {width:100%; max-height: 90%; color: darkslateblue; max-width:90%; margin: 4%; font-size: 1em; border:none; border-radius: 1em; background:rgba(255,250,245,.95)}
select {float:left; margin: 2em}*/
*::-webkit-input-placeholder { color:rgba(254,243,254,.91) }
:focus {
    outline: none;
    box-shadow: 0px 13px 3px -11px rgba(55,34, 21,.9);
}
.multichoice {background: rgba(248,253,230, .62); float: right; margin: 1em; padding: 2em; border-radius: 1em}
.posts {width:32%; float:left; background: rgba(255,255,255, .8); margin:.6%}
.posts input[type=text] { max-width: 90%; font-size: 1.2em; }
button  {font-size: 1em; background:rgba(10,22,15, .4); color: rgba(238,251,227, .8); border-radius: 4em; min-height:3em; min-width:3em}
button.submit {width:100%;}
/*.new input, .new textarea {
    margin: 1% 1.6%;
  font-size: 2.1em;
  padding: .6em 1em;
  background: rgba(5,25,35,.38);
  color: rgba(229, 222, 218, 0.95);
  text-shadow: 0 0 13px rgba(0, 0, 0, .78);
  border-top: 5px solid rgba(0,0,0,.38);
  border-bottom: 6px solid rgba(0,0,0,.62);
    }*/
table {
    display: table;
    border-collapse: collapse;
    border-spacing: 5px;
    border-color: rgba(4,8,16,.2);
}
tr {
    padding: 1em; box-shadow: 1px 1px 1px 1px rgba(2,4,8,.18)}

